
:root {

    --color-white: #d0d0d0;
    --color-gray: #686868;
    --color-black: #1B1B1B;

}

:root[data-theme="light"] {

    --body-bg: var(--color-white);
    --body-fg: var(--color-black);

    --header-bg: var(--color-black);
    --header-fg: var(--color-white);

    --collection-container-border-clr: var(--color-black);
    --todo-container-border-clr: var(--color-black);

    --button-hover-bg: var(--color-black);
    --button-hover-fg: var(--color-white);

}

:root[data-theme="dark"] {

    --body-bg: var(--color-black);
    --body-fg: var(--color-white);

    --header-bg: var(--color-white);
    --header-fg: var(--color-black);

    --collection-container-border-clr: var(--color-white);
    --todo-container-border-clr: var(--color-white);

    --button-hover-bg: var(--color-white);
    --button-hover-fg: var(--color-black);
}

* {
    --trainstion-time: 0.3s;

    transition: color var(--trainstion-time),
                background var(--trainstion-time)
}
