
@import './_reset.css';
@import './_utils.css';
@import './colors.css';

body {
    background: var(--body-bg);
    color: var(--body-fg);
    font-family: sans-serif;
}

header {
    background: var(--header-bg);
    color: var(--header-fg);
    padding: 1rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 700;
}
